.vue-input-box {
	margin-top: 20px;
}
.vue-input {
	display: inline;
	margin-bottom: 0px;
}
.nav {
	height: 50px;
}
.nav-ul {
	margin: 0px 0px;
}
.nav-ul li {
	list-style: none;
	float: left;
	text-align: center;
	padding: 5px 10px;
}
.loginInfo {
	font-size: 12px;
	color: red;
}
a {
	color: #08c;
}